# Python cache
__pycache__/
*.py[cod]

# Environments
APIkey.env
SQLlogin.env
.venv/
*.egg-info/

# Databases or notebooks
*.db
*.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Data
data/*
!data/StockHistData/dataManifest.json
!data/StockHistData/MSFT
!data/StockHistData/NVDA